.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 5fr;
  grid-template-areas:
    "menu menu menu"
    "header header header";
  height: 70vh;
}
.menu {
  grid-area: menu;
  background-color: rgb(5, 52, 5);
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Rozdělení na dvě části */
  width: 50%;
  height: 100%;
  background-color: aquamarine;
}
.header {
  grid-area: header;
  display: grid;
  background-color: rgb(45, 44, 44);
  color: white;
  position: relative; /* Nutné pro absolutní pozicování vnořeného obrázku */
}
.tree {
  width: 20%;
  justify-self: end;
  position: absolute;
  bottom: 20px; /* Posune obrázek směrem nahoru */
  right: 10px; /* Pokud chceš posunout i doprava */
}
